<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>

    </style>
    <link href="../../lib/element-ui-v2.15.1.css" rel="stylesheet"/>
</head>
<body>
    <el-select id="select1" v-model="value" placeholder="请选择" multiple="true">
        <el-option
                v-for="item in cities"
                :key="item.value"
                :label="item.label"
                :value="item.value">
            <input type="checkbox"  v-model="item.checked"/>
            <span style=" color: #8492a6; font-size: 13px">{{ item.value }}</span>
        </el-option>
    </el-select>
</body>
<!-- import Vue before Element -->
<script src="../../lib/vue-v2.6.11.js"></script>
<!-- import JavaScript -->
<script src="../../lib/element-ui-v2.15.1.js"></script>
<script>
    new Vue({
        el: '#select1',
        data() {
            return {
                cities: [{
                    checked: true,
                    value: 'Beijing',
                    label: '北京'
                }, {
                    checked: false,
                    value: 'Shanghai',
                    label: '上海'
                }, {
                    checked: false,
                    value: 'Nanjing',
                    label: '南京'
                }, {
                    checked: true,
                    value: 'Chengdu',
                    label: '成都'
                }, {
                    checked: true,
                    value: 'Shenzhen',
                    label: '深圳'
                }, {
                    checked: true,
                    value: 'Guangzhou',
                    label: '广州'
                }],
                value: ''
            }
        },
    })
</script>
</html>